@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body {

    font-family: 'Open Sans', sans-serif;

    background-color: rgb(227, 226, 226);

    line-height: 1.7;

    padding: .25rem .25rem .25rem .25rem;



}



header {

    background: radial-gradient(orange, grey);

    padding: .25rem;



}



h2 {

    font-family: 'Roboto Slab', serif;

    font-style: italic;

    text-align: center;

}



h2:hover {

    color: lightgoldenrodyellow;

    transition: .5s;

}



.content-main {

    background: linear-gradient(to riight rgb(227, 226, 226), grey);

    width: 100%;

    display: grid;

    grid-template-columns: repeat(12, 1fr);

    justify-content: space-between;

    padding: 1rem;

}



.myphoto {

    width: 100%;

    

    border: 1px solid white;

    border-radius: 30%;



}



.image {

    padding: 1rem;

    

    grid-column: 5/span 4;

}



.image>h3 {

    text-align: center;

}



header {

    grid-column: 1/-1;



}



footer {

    background: radial-gradient(orange, grey);

    color: white;

    grid-column: 1/-1;

    display: flex;

    justify-content: space-around;

    padding: 1rem;

}





nav {

    background-color: rgb(5, 78, 104);

    grid-column: 1/-1;

    

}



.nav-menu {

    display: flex;

    justify-content: center;

    padding-top: 1rem;

    list-style-type: none;



}



li {

    padding-right: 3rem;

}



li>a {

    text-decoration: none;

    color: white;

}



.nav-menu li .active,

.nav-menu li a:hover {

    color: lightblue;

    transition: .5s;

}



.nav-menu li a.active {

    background: grey;

    border: 2px solid white;

    border-radius: 5px;

}



.footer-menu li a:hover {

    color: rgb(4, 48, 62);

    transition: .5s;

}



.about {

    grid-column: 4/span 7;

    padding: 1rem;

}



.about-text {

    text-align: justify;

}



.contact-text {

    text-align: left;

    word-wrap: break-word;

}



@media (max-width: 414px) {

    .content-main {

        grid-template-rows: auto;

        justify-content: center;



    }



    .image {

        grid-column: 1/-1;

    }



    .cv-image {

        grid-column: 1/-1;

    }



    .about {

        grid-column: 1/-1;

    }



    .job-details {

        grid-column: 1/-1;

    }



    .education {

        grid-column: 1/-1;

    }



    .nav-menu {

        display: grid;

        grid-template-columns: auto;

        justify-content: center;



    }



    footer {

        display: grid;

        grid-template-columns: auto;

        justify-content: center;

        padding-bottom: 1rem;

    }



    .footer-menu {

        list-style-type: none;

        text-decoration: underline;

    }



    .contact-text {

        text-align: left;

    }



}






.job-details {

    grid-column: 1/span 5;

    padding: 1rem;

    word-wrap: break-word;

}



.name {

    text-align: center;

}



.cv-text {

    text-align: center;

}



.responsibility li {

    text-align: justify;

    list-style-type: decimal;

}



.job-current,

.job-second,

.job-first {

    border-bottom: 2px solid black;

}



.education {

    grid-column: 6/-1;

    padding: 1rem;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    justify-content: flex-start;

    grid-column-gap: 10px;

    border-left: 2px solid black;

    word-wrap: break-word;

}



.heading-edu {

    grid-column: auto/span 4;

   

}



@media (max-width: 414px) {

    .cv-image {

        grid-column: 1/-1;

    }



    .job-details {

        grid-column: 1/-1;

    }



    .education {

        grid-column: 1/-1;

    }



}







.protfolio {

    grid-column: 2/span 4;

    padding: 1rem;

}



.project {

    grid-column: 7/12;

    padding: 1rem;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    

    justify-content: center;

    place-items: center;

    grid-column-gap: 10px;

    border: 2px solid white;



}



.link {

    grid-column: 2/span 2;



}



.project>h4 {

    grid-column: auto/span 5;

    

}



.icon {

    width: 100%;

}



@media (max-width: 414px) {

    .protfolio {

        grid-column: 1/-1;

    }



    .project {

        grid-column: 1/-1;

    }



}